*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
  color: red;

  @include response(tab-land) {
    font-size: 56.25%;
  }

  @include response(tab-port) {
    font-size: 50%;
  }

  @include response(phone) {
    font-size: 30%;
  }

  // @include response(big-desktop) {
  //   font-size: 75%;
  // }
}

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  line-height: 1.6;
}

menu {
  width: 100%;
  max-width: 120rem;
  padding: 2rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}