*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
  color: red;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  line-height: 1.6;
  min-width: 320px;
}

main {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 90vh;
  will-change: transform;
}

footer {
  font-size: 2.4rem;
  margin-top: 5rem;
  text-align: center;
}

img,
video {
  max-width: 100%;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: all 3s;
}