<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/sass/main.scss")
        title Afrodyta
    body
        div.container
            section.header
                nav.header-nav
                    ul
                        li.header-nav__item 1
                        li.header-nav__item 2 
                        li.header-nav__item 3
                        li.header-nav__item 4
                div.header-img place for img
        