.fixed-datapanel  
    a(href="/motion.pug", class="fixed-datapanel--left") motion work
    p.fixed-datapanel--right 
        | Ben And Martin, a.k.a. BAM
        br
        | Photographers &#215; Directors Duo
        br
        | represented by #[a(href="#", class="mail-link") Kai Tietz]