header.header
    nav(aria-label="primary navigation bar")
        ul.header-nav
            li.header-nav__item 
                a(href="/news.pug") News
            li.header-nav__item.key-nav-route 
                a(href="/index.pug") BAM
            li.header-nav__item 
                a(href="#additional-nav") Index
.additional-nav--wrapper(id="additional-nav")
    nav(aria-label="secondary navigation bar")
        ul.additional-nav
            li.additional-nav__item
                a(href="/motion.pug") Motion
            li.additional-nav__item
                a(href="/about.pug") About
            li.additional-nav__item
                a(href="/news.pug") News
            li.additional-nav__item
                a(href="/contact.pug") Contact
            