.header {
  background-color: rgba(255, 255, 255, 0.795);
  position: fixed;
  z-index: 100;
  width: 100%;

  & nav {
    width: 100%;
    max-width: 120rem;
    padding: 2rem;
    margin: 0 auto;
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;

    @include response(phone) {
      font-size: 4rem;
    }
  }

  &-nav__item {
    &:hover {
      font-weight: 700;
    }
  }
}