.motion-page {
    padding: 10rem 2rem 3rem;

    @include response(tab-land) {
        padding-top: 8rem;
    }

    &__content {
        width: 100%;

        &-item {
            width: 100%;
        }
    }
}

.back-btn {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5vw;
    transition: 0.7s all;

    @include response(phone) {
        font-size: 10vw;
    }

    &:hover {
        color: greenyellow;
    }
}