include pug/templates/head-tag.pug
body
    include pug/templates/header.pug
    main.about-page
        section.about-section
            .about-section__photo
                img(src="/assets/about/about-1.jpg", alt="Ben and Martin")
            p.about-section__text We are Ben &amp; Martin, two professional advertising photographers, based in Cologne / Germany. After traveling around the world twice, working &amp; sipping coffee on each continent of the planet, we teamed up as BAM PHOTOGRAPHERS to share out skills, love and passion for photography. Whether it be cars, people, portrait, landscapes, architecture or CGI, we put 100 % effort into each project while keeping a good vibe. We are looking forward to work with you or just having a coffee!