doctype html
html(lang="en")
    include pug/templates/headTagSimple.pug
    body
        include pug/templates/header.pug
        main.collection-page 
            img(src="/assets/collections/amora/amora-1.jpg", alt="amora image 1")
            img(src="/assets/collections/amora/amora-2.jpg", alt="amora image 2")
            img(src="/assets/collections/amora/amora-3.jpg", alt="amora image 3")
            img(src="/assets/collections/amora/amora-4.jpg", alt="amora image 4")
            img(src="/assets/collections/amora/amora-5.jpg", alt="amora image 5")
            img(src="/assets/collections/amora/amora-6.jpg", alt="amora image 6")
            img(src="/assets/collections/amora/amora-7.jpg", alt="amora image 7")
            img(src="/assets/collections/amora/amora-8.jpg", alt="amora image 8")
            img(src="/assets/collections/amora/amora-9.jpg", alt="amora image 9")
        a(href="/index.pug", class="back-btn") &#215;