include pug/templates/head-tag.pug
body
    include pug/templates/header.pug
    main.contact-page
        section.section1 
            | BAM PHOTOGRAPHERS
            br
            | ARTEL &amp; WICKENHÄUSER
            br
            | Partnerschaft für Fotodesign
            br
            | Glasstraße 20
            br
            | D-50823 Cologne
            br
            | Germany
        section.section2 
            .section2__contact 
                h4.heading-tertiary Contact
                p.plain-text.paragraph
                    | Thanks for stopping by!
                    br
                    | If you want to contact us just write us an email here at:
                    | #[a(href="mailto:mail@benandmartin.com", class="mail-link") mail@benandmartin.com]
                p.plain-text.paragraph
                    | You are also welcome to give us a call:
                    br
                    | B +49 17664942995
                    br
                    | A +49 22116824088 ( Office )
                    br
                    | M +49 17622026918
                p.plain-text.paragraph
                    | If you want to see where we work, you can find us right here:
                    br
                    | BAM PHOTOGRAPHERS
                    br
                    | MARTEL &amp; WICKENHÄUSER
                    br
                    | Partnerschaft für Fotodesign
                    br
                    | Glasstraße 20
                    br
                    | D-50823 Cologne
                    br
                    | Germany
                h4.heading-tertiary Concept &amp; Design
                p.plain-text 
                    | By Funs Kurstjens from the OOOZ.CLUB
                    br
                    | together with Jonas Pelzer
            .section2__representation 
                h4.heading-tertiary Representation
                p.plain-text.paragraph We are represented by:   
                p.plain-text.paragraph
                    | Kai Tietz
                    br
                    | Agentur der Photographen
                    br
                    | Gellerstraße 2
                    br
                    | D-22301 Hamburg
                p.plain-text.paragraph
                    | Office Hamburg +49 4038038130
                    br
                    | Mail: #[a(href="mailto:info@kaitietz.de") info@kaitietz.de]
                    br
                    | Web: #[a(href="https://www.kaitietz.de/") www.kaitietz.de]
                p.plain-text.paragraph
                    | BAM PHOTOGRAPHERS are Benjamin Martel and Martin Wickenhäuser
                    br
                    | All images © BAM PHOTOGRAPHERS
                    br
                    | No liability is assumed for the Contents of external links
                    br
                    | Responsibility for the content of linked Pages lies solely with the operators of these.
                    
                p.plain-text Vat-ID No: DE 309186642
                    