doctype html
html(lang="en")
    include pug/templates/headTagSimple.pug
    body
        include pug/templates/header.pug
        main.collection-page 
            img(src="/assets/collections/dimtown/dimtown-1.jpg", alt="dimtown image 1")
            img(src="/assets/collections/dimtown/dimtown-2.jpg", alt="dimtown image 2")
            img(src="/assets/collections/dimtown/dimtown-3.jpg", alt="dimtown image 3")
            img(src="/assets/collections/dimtown/dimtown-4.jpg", alt="dimtown image 4")
            img(src="/assets/collections/dimtown/dimtown-5.jpg", alt="dimtown image 5")
            img(src="/assets/collections/dimtown/dimtown-6.jpg", alt="dimtown image 6")
            img(src="/assets/collections/dimtown/dimtown-7.jpg", alt="dimtown image 7")
        a(href="/index.pug", class="back-btn") &#215;