doctype html
html(lang="en")
    include pug/templates/headTagSimple.pug
    body
        include pug/templates/header.pug
        main.collection-page 
            img(src="/assets/collections/hocke/hocke-1.jpg", alt="hocke image 1")
            img(src="/assets/collections/hocke/hocke-2.jpg", alt="hocke image 2")
            img(src="/assets/collections/hocke/hocke-3.jpg", alt="hocke image 3", class="width-auto")
            img(src="/assets/collections/hocke/hocke-4.jpg", alt="hocke image 4")
            img(src="/assets/collections/hocke/hocke-5.jpg", alt="hocke image 5", class="width-auto")
            img(src="/assets/collections/hocke/hocke-6.jpg", alt="hocke image 6")
            img(src="/assets/collections/hocke/hocke-7.jpg", alt="hocke image 7")
            img(src="/assets/collections/hocke/hocke-8.jpg", alt="hocke image 8", class="width-auto")
            img(src="/assets/collections/hocke/hocke-9.jpg", alt="hocke image 9")
            img(src="/assets/collections/hocke/hocke-10.jpg", alt="hocke image 10")
            img(src="/assets/collections/hocke/hocke-11.jpg", alt="hocke image 11")
            img(src="/assets/collections/hocke/hocke-12.jpg", alt="hocke image 12")
            img(src="/assets/collections/hocke/hocke-13.jpg", alt="hocke image 13")
        a(href="/index.pug", class="back-btn") &#215;