<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,700&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="/sass/main.scss")
        title BAM | Home
    body
        div.container
            header.header
                nav
                    ul.header-nav
                        li.header-nav__item News
                        li.header-nav__item.key-nav-route BAM
                        li.header-nav__item Index
            section.collection1
                .collection1__item
                    img.collection1__item--img(src="/assets/v60-1.jpg", alt="V60LA image 1")
                .collection1__item
                    img.collection1__item--img(src="/assets/v60-2.jpg", alt="V60LA image 2")
                .collection1__item
                    img.collection1__item--img(src="/assets/v60-3.jpg", alt="V60LA image 3")
                .collection1__item
                    img.collection1__item--img(src="/assets/v60-4.jpg", alt="V60LA image 4")
            section.collection2
                .collection2__item
                    img.collection1__item--img(src="/assets/mercedes_g-1.jpg", alt="Mercedes G image 1")
                .collection2__item
                    img.collection1__item--img(src="/assets/mercedes_g-2.jpg", alt="Mercedes G image 2")
                .collection2__item
                    img.collection1__item--img(src="/assets/mercedes_g-3.jpg", alt="Mercedes G image 3")
                .collection2__item
                    img.collection1__item--img(src="/assets/mercedes_g-4.jpg", alt="Mercedes G image 4")
                
        