doctype html
html(lang="en")
    include pug/templates/headTagSimple.pug
    body
        include pug/templates/header.pug
        main.collection-page
            img(src="/assets/collections/mercedesG/mercedesG-1.jpg", alt="MercedesG image 1")
            img(src="/assets/collections/mercedesG/mercedesG-2.jpg", alt="MercedesG image 2")
            img(src="/assets/collections/mercedesG/mercedesG-3.jpg", alt="MercedesG image 3")
            img(src="/assets/collections/mercedesG/mercedesG-4.jpg", alt="MercedesG image 4")
            img(src="/assets/collections/mercedesG/mercedesG-5.jpg", alt="MercedesG image 5")
            img(src="/assets/collections/mercedesG/mercedesG-6.jpg", alt="MercedesG image 6")
            img(src="/assets/collections/mercedesG/mercedesG-7.jpg", alt="MercedesG image 7")
            img(src="/assets/collections/mercedesG/mercedesG-8.jpg", alt="MercedesG image 8")
        a(href="/index.pug", class="back-btn") &#215;