include pug/templates/headTagSimple.pug
body
    include pug/templates/header.pug
    main.motion-page
        .motion-page__content
            .motion-page__content-item
                video(controls playsinline)
                    source(src="/assets/motion/antoni.mp4", type="video/mp4")
            .motion-page__content-item
                video(controls playsinline)
                    source(src="/assets/motion/toyota.mp4", type="video/mp4")
            .motion-page__content-item
                video(controls playsinline)
                    source(src="/assets/motion/xt.mp4", type="video/mp4")
            .motion-page__content-item
                video(controls playsinline)
                    source(src="/assets/motion/master_alle.mp4", type="video/mp4")
    a(href="/index.pug", class="back-btn") &#215;
