include pug/templates/headTagSimple.pug
body
    include pug/templates/header.pug
    main.motion-page
        .motion-page__content
            .motion-page__content-item
                video(src="#" controls playsinline)
            .motion-page__content-item
                video(src="#" controls playsinline)
            .motion-page__content-item
                video(src="#" controls playsinline)
            .motion-page__content-item
                video(src="#" controls playsinline)
    a(href="/index.pug", class="back-btn") &#215;
