doctype html
html(lang="en")
    include pug/templates/headTagSimple.pug
    body
        include pug/templates/header.pug
        main.collection-page 
            img(src="/assets/collections/v60la/v60la-1.jpg", alt="v60la image 1")
            img(src="/assets/collections/v60la/v60la-2.jpg", alt="v60la image 2")
            img(src="/assets/collections/v60la/v60la-3.jpg", alt="v60la image 3")
            img(src="/assets/collections/v60la/v60la-4.jpg", alt="v60la image 4")
            img(src="/assets/collections/v60la/v60la-5.jpg", alt="v60la image 5")
            img(src="/assets/collections/v60la/v60la-6.jpg", alt="v60la image 6")
            img(src="/assets/collections/v60la/v60la-7.jpg", alt="v60la image 7")
            img(src="/assets/collections/v60la/v60la-8.jpg", alt="v60la image 8")
            img(src="/assets/collections/v60la/v60la-9.jpg", alt="v60la image 9")
            img(src="/assets/collections/v60la/v60la-10.jpg", alt="v60la image 10")
            img(src="/assets/collections/v60la/v60la-11.jpg", alt="v60la image 11")
        a(href="/index.pug", class="back-btn") &#215;