doctype html
html(lang="en")
    include pug/templates/headTagSimple.pug
    body
        include pug/templates/header.pug
        main.collection-page 
            img(src="/assets/collections/xt/xt-1.jpg", alt="xt image 1")
            img(src="/assets/collections/xt/xt-2.jpg", alt="xt image 2", class="width-auto")
            img(src="/assets/collections/xt/xt-3.jpg", alt="xt image 3")
            img(src="/assets/collections/xt/xt-4.jpg", alt="xt image 4")
            img(src="/assets/collections/xt/xt-5.jpg", alt="xt image 5")
            img(src="/assets/collections/xt/xt-6.jpg", alt="xt image 6", class="width-auto")
            img(src="/assets/collections/xt/xt-7.jpg", alt="xt image 7")
            img(src="/assets/collections/xt/xt-8.jpg", alt="xt image 8")
            img(src="/assets/collections/xt/xt-9.jpg", alt="xt image 9")
            img(src="/assets/collections/xt/xt-10.jpg", alt="xt image 10")
            img(src="/assets/collections/xt/xt-11.jpg", alt="xt image 11", class="width-auto")
            img(src="/assets/collections/xt/xt-12.jpg", alt="xt image 12")
            img(src="/assets/collections/xt/xt-13.jpg", alt="xt image 13")
            img(src="/assets/collections/xt/xt-14.jpg", alt="xt image 10")
            img(src="/assets/collections/xt/xt-15.jpg", alt="xt image 11")
            img(src="/assets/collections/xt/xt-16.jpg", alt="xt image 12")
            img(src="/assets/collections/xt/xt-17.jpg", alt="xt image 13")
        a(href="/index.pug", class="back-btn") &#215;